body { font-size: 12px; font-family: sans-serif; }

/* Site built by Heitor Chang */


.site_header, .site_sidebar, .site_body_container { border: 3px solid black; }
  
.site_content { border: 5px dashed blue; }


.site_header {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    padding: 0px;
    overflow: auto;
}

.site_header a {
    color: #000000;
    text-decoration: none;
}

.site_body_container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.site_sidebar {
    position: relative;
    float: left;
    height: 95%;
    background-color: #eeffff;
    width: 20%;
}

.site_logo {
    position: relative;
    float: left;
}

.site_banner {
    position: relative;
    float: left;
    padding: 10px;
}

.site_address {
    position: relative;
    float: right;
    padding: 10px;
}

.site_content {
    position: relative;
    float: left;
    padding: 10px;
    width: 70%;
}

.site_footer {
    position: relative;
    
}

.site_sidebar ul {
    color: #006600;
    list-style: none;
    padding: 0px;
    margin: 0;
}

.site_sidebar li {
    background-image: -webkit-gradient(
	    linear,
	    left top,
	    right bottom,
	    color-stop(0.75, #003012),
	    color-stop(1, #00CC44)
    );
    background-image: -o-linear-gradient(right bottom, #003012 75%, #00CC44 100%);
    background-image: -moz-linear-gradient(right bottom, #003012 75%, #00CC44 100%);
    background-image: -webkit-linear-gradient(right bottom, #003012 75%, #00CC44 100%);
    background-image: -ms-linear-gradient(right bottom, #003012 75%, #00CC44 100%);
    background-image: linear-gradient(to right bottom, #003012 75%, #00CC44 100%);
}

.site_sidebar li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    display: block;
    padding: 3px 45px 3px 15px;
    background: inherit;
}

.site_sidebar li a:hover {
    background-image: -webkit-gradient(
	    linear,
	    left top,
	    right bottom,
	    color-stop(0.75, #70FF7A),
	    color-stop(1, #1AAD29)
    );
    background-image: -o-linear-gradient(right bottom, #70FF7A 75%, #1AAD29 100%);
    background-image: -moz-linear-gradient(right bottom, #70FF7A 75%, #1AAD29 100%);
    background-image: -webkit-linear-gradient(right bottom, #70FF7A 75%, #1AAD29 100%);
    background-image: -ms-linear-gradient(right bottom, #70FF7A 75%, #1AAD29 100%);
    background-image: linear-gradient(to right bottom, #70FF7A 75%, #1AAD29 100%);
    color: #000000;
}
